// main: styles.less
@import "vars";

._clearfix() {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

._links() {
  color: @brand;
  cursor: pointer;
  transition: @anim-time color ease;
  &:hover {
    color: @brand-dark;
  }
}

// Generate font-sizes for headings
._generate-headings(@n, @i: 1) when (@i =< @n) {
  h@{i} {
    font-size: (2.5em-.2*@i);
    margin-bottom: 1.4rem;
    line-height: 1;
    @media @tablet-portrait {
      font-size: (2.8em-.2*@i);
      margin-bottom: 1.4rem;
    }
  }
  ._generate-headings(@n, (@i + 1));
}

._button(@width: 100%; @bg-color: @brand; @radius: 2px; @hover: true;) {
  width: @width;
  font-size: 1.25rem;
  background: @bg-color;
  border: none;
  padding: 10px @spacing-md;
  color: #fff;
  text-align: center;
  letter-spacing: 0;
  cursor: pointer;
  border-radius: @radius;
  border: 1px solid @bg-color - #222;
  box-shadow: @shadow;
  text-shadow: @shadow;
  transition: background-color @anim-time ease, border @anim-time ease, color @anim-time ease, letter-spacing @anim-time ease, text-shadow @anim-time ease;
  outline: none;

    &:hover when (@hover = true) {
      background-color: @bg-color - #222;
      border: 1px solid (@bg-color - #444);
    }

  &.loading {
    position: relative;

    &:after {
      position: absolute;
      left: 10px;
      right: 10px;
      top: 10px;
      bottom: 10px;
      content: "";
      background: @loading-img;
      background-color: #278ec0;
      background-size: contain;
      transition: background-color @anim-time ease;
    }

    &:hover:after {
      background-color: @brand-dark;
    }

  }
  &.change {
    letter-spacing: 10px;
    color: fade(@white, 0);
    text-shadow: none;
  }
  @media @tablet-portrait {
    width: auto;
  }
}

._light-button(){
  font-size: 1rem;
  background: none;
  border: 1px solid grey;
  border-radius: 4px;
  color: #666;
  cursor: pointer;
  padding: 8px 30px;
  text-align: center;
  box-shadow: 0 1px 3px rgba(0,0,0,0.15);
  text-shadow: 0 1px 3px rgba(0,0,0,0.15);
  transition: background-color @anim-time ease,border @anim-time ease;
  outline: none;
  display: block;
  margin: 0 auto;
  font-family: @font-content;

  &:hover {
    border-color: lightgrey;
    color: #999;
  }
}

._centerElem() {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}
