@import "vars";

/*
._breakpoint(@bp-mobile-landscape; {
  // styles
});
*/
._breakpoint(@min-width, @rules){
   @media (min-width: @min-width) {
     @rules();
   }
}

._clearfix() {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

// Generate font-sizes for headings
._generate-headings(@n, @i: 1) when (@i =< @n) {
  h@{i} {
    font-size: (2.8em-.2*@i);
    margin-bottom: 1.4rem;
  }
  ._generate-headings(@n, (@i + 1));
}
