// out: styles.css, compress: true

@brand-main: #2A4176;
@brand-light: #6A7DA8;
@brand-dark: #162C5E;

@accent: #B09A32;
@accent-light: #D1BD57;
@accent-dark: #8C7814;


.logo {
  color: @brand-main;
}
