// out: styles.css, compress: true


@import "vars";
@import "reset";
@import "mixins";

html {
  font-family: @font-content;
  font-size: 87.5%;
  display: flex;
  color: @black + #333;
}

body {
  background: #fcfcfc;
  display: flex;
  width: 100%;
  min-height: 100vh;
}

strong {
  font-weight: bold;
}

em {
  font-style: italic;
}

._generate-headings(6);

.site-wrap {
  width: 100%;
  ._breakpoint(@bp-tablet-landscape; {
    display: flex;
  });
}

.flyout {
  .logo {
    font-family: @font-heading;
    font-size: 3.5em;
    text-align: center;
    margin: @spacing-lg 0 @spacing-md;
    color: @brand;
    .tagline {
      font-size: 1rem;
      display: block;
      font-family: @font-content;
      margin-top: @spacing-sm / 2;
      letter-spacing: 2px;
      color: fade(@brand, 55%);
    }
  }
  ._breakpoint(@bp-tablet-landscape; {
    width: @flyout-width;
    border-right: 1px solid @light-grey;
    .logo {
      margin: @spacing-md 0;
    }
  });
}

.main-wrap {

  ._breakpoint(@bp-tablet-landscape; {
    flex: 1;
  });
}

.constraint {
  max-width: @width-constraint;
  margin: 0 auto;
  padding: 0 @spacing-sm;
  ._breakpoint(@bp-tablet-landscape; {
    padding: 0 @spacing-md;
  });
}

header {
  display: flex;
  position: fixed;
  align-items: center;
  top:0;
  width: 100%;
  height: 30px;
  color: @white;
  background-color: @brand;
  box-shadow: 0 1px 3px rgba(0,0,0,0.15);
  .constraint {
    display: flex;
    justify-content: space-between;
    flex: 1;
    padding: 0 5px;
  }
  .credit-count {
    height: @credit-con-size;
    line-height: @credit-con-size;
    margin-left: @credit-con-size + 10;
    position: relative;
    display: inline-block;
    font-size: .9em;
    font-weight: lighter;
    &:before {
      display: block;
      position:absolute;
      left: -1 * @credit-con-size - 10 ;
      top: 0;
      content: 'B';
      text-align: center;
      line-height: @currency-size;
      height: @currency-size;
      width: @currency-size;
      border-radius: 50%;
      font-family: @font-heading;
      font-weight: normal;
      font-size: .7rem;
      color: @accent;
      background-color: @accent-dark;
      border: 2px solid @accent;
      text-shadow: 0 1px 2px rgba(0,0,0,0.15);
      box-shadow: 0 1px 5px rgba(0,0,0,0.15), inset 0 0 2px rgba(0,0,0,0.15);
    }
  }
  .login {
    line-height: @credit-con-size;
    height: @login-btn-size;
    line-height: @login-btn-size;
    width: @login-btn-size;
    position: absolute;
    right: -20px;
    top: -20px;
    cursor: pointer;
    border-radius: 50%;
    background-color: #278ec0;
    border: 2px solid #fff;
    border-top: none;
    text-align: center;
    box-shadow: 0 2px 3px rgba(0,0,0,0.15);
    font-size: 0;
    &:after {
      position: absolute;
      bottom: 20px;
      font-family: FontAwesome;
      left: 23px;
      content: "\f007";
      font-size: 2rem;
      line-height: 1;
      text-shadow: 0 1px 3px rgba(0,0,0,0.15);
    }
  }
  ._breakpoint(@bp-tablet-landscape; {
    width: ~"calc(100% - @{flyout-width})";
    .constraint {
      padding: 0 @spacing-md;
    }
  });
}

.main-wrap {
  .main-content {
    padding: @spacing-md 0;
  }
}

form {
@form-speed: .15s;
  input[type="text"], input[type='number'], textarea, input[type="checkbox"], input[type="radio"] {
    box-shadow: 0;

    transition: border @form-speed ease, box-shadow @form-speed ease;
    &:focus{
      outline: none;
      border: 1px solid @brand;
      box-shadow: 0 0 5px fade(@brand, 50%);
    }
  }

  input[type="text"] {
    font-size: 1.25em;
    padding: 10px;
    border-radius: 1px;
    border: 1px solid @light-grey;
    width: 100%;
    margin-bottom: @spacing-sm / 2;
  }

  ._breakpoint(@bp-tablet-portrait; {
    input[type="text"] {
      float: left;
      width: 49%;
      &:nth-child(2n) {
        margin-left: 2%;
      }
    }
  });
  ._clearfix();
}

.overlay {
  display: none;
  position: fixed;
  width: 100%;
  height: 100%;
  padding: @spacing-md;
  top: 0;
  left: 0;
  z-index: 99;
  background: rgba(255,255,255,0.75);
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: opacity .3s ease;
  &.open {
    display: flex;
    opacity: 1;
  }
  .popup {
    position: relative;
    padding: @spacing-md;
    background: #fff;
    box-shadow: 0 0 @spacing-sm rgba(39, 142, 192, .2);
    border: 1px solid rgb(39, 142, 192);
    border-radius: 1px;
    .close {
      position: absolute;
      top: @spacing-sm / 2;
      right: @spacing-sm / 2;
      cursor: pointer;
    }
  }
}
