/* Colors */
@brand: #278EC0;
@brand-light: @brand + #222;
@brand-dark: @brand - #222;

@accent: #FFE629;
@accent-light: @accent + #222;
@accent-dark: @accent - #222;

@white: #fff;
@black: #111;
@light-grey: #ddd;

/* Font */

@font-content: 'Roboto', Arial, sans-serif;
@font-heading: 'Oleo Script', cursive;

@font-line-height: 1.4; // I wanna test this out, see if it's useful.

/* Layout */

@width-constraint: 1200px;

@spacing-sm: 20px;
@spacing-md: 40px;
@spacing-lg: 60px;

@credit-con-size: 20px;
@currency-size: @credit-con-size - 4;

/* Breakpoints */

@bp-mobile-landscape: 480px;
@bp-tablet-portrait: 768px;
@bp-tablet-landscape: 1024px;
@bp-desktop: 1200px;
